<footer
  class="mt-auto bg-gray-50 py-3 border-t border-gray-200"
  th:fragment="footer"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
>
  <div class="mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between gap-4">
      <div>
        <span class="text-sm text-gray-700">
          &copy; Departamento de Computação
        </span>
      </div>

      <div class="text-sm text-gray-500" sec:authorize="isAuthenticated()">
        <span th:text="#{login.username}"></span>:
        <span sec:authentication="name"></span>
        <span class="mx-1">|</span>
        <span th:text="#{user.role}"></span>:
        <span sec:authentication="principal.authorities"></span>
      </div>
    </div>
  </div>
</footer>
